/* // `xs` returns only a ruleset and no media query
// ... { ... } */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { ... }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }
    
    .bnr_overlay{
        padding: 80px 0 80px 0;
        background-color: rgba(18, 55, 99, 0.5);
    }
    
    .banner_content h1 {
        font-size: 30px;
        padding: 0 50px;
        line-height: 30px;
    }
    .banner_content p {
        padding: 0 30px;
    }

  



/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    

}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }



